:root {
    --header-width: 100vw;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif, serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

header {
    padding: 20px;
    position: relative;
    max-width: 100%;
}

header>img {
    box-shadow:
        0px 2px 9px 1px grey;
}

header::before {
    content: "";
    position: absolute;
    background-color: #2596be;
    z-index: -1;
    width: 200%;
    height: 200%;
    bottom: 0%;
    left: 0%;
    transform-origin: bottom left;
    transform: rotate(-30deg);
    box-shadow: 0px 2px 3px 0px grey;
}

header>p {
    z-index: 1;
    max-width: 100%;
    position: relative;
}

.name {
    position: absolute;
    bottom: 25px;
    left: 50%;
    color: white;
    font-size: 45px;
    white-space: nowrap;
    font-family: serif;
    z-index: 1;
    transform: translate(-50%);
}

.about {
    max-width: 90%;
}

.about,
.about-abs {
    font-family: serif;
}

.about-abs {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 50%;
    z-index: 1;
    width: 90%;
    transform: translate(-50%, 100%);
}

header>img {
    max-width: 100%;
}

.about>h1 {
    text-align: center;
    font-weight: 400;
}

.links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.links>a {
    width: 40px;
}
